*{
    margin: 0;
    padding: 0;
}
body{
   /* background: black;
    background-image: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

@font-face {
    font-family: 'arcade';
    src: url('./fonts/ARCADE_N.TTF');
}
html{
    font-family: arcade;
    font-family: 62.5%;

    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
section{
height: 100vh;
}

h1{
    color: rgb(0, 255, 213);
    font-size: 1rem;
    padding: 16px;
    margin-bottom: 16px;
    text-align: center;
    background: rgba(0, 0, 0, 0.664);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
}
.games{
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 16px;
    list-style: none;

    display: flex;
}
.games a{
    color: yellow;
    font-size: 0.8rem;

}
.list-games{
    overflow-y: scroll;
    height: 40vh;
    border:solid 1px blue ;
    margin: 16px;

    background: rgba(0, 0, 0, 0.664);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
}
.list-games li {
    display: flex;
    align-items: center;
}
.list-games li img{
    width: 50px;
    height: 50px;
    margin-left: 16px;
    margin-right: 16px;
}
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del track (fondo de la barra) */
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 255, 0.842); /* Color del "mango" de la barra de desplazamiento */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:blue; /* Cambio de color cuando se pasa el ratón por encima del mango */
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1; /* Color de la esquina de la barra de desplazamiento */
  }
  ::-webkit-scrollbar-button {
    display: none; /* Oculta los botones de la barra de desplazamiento (flechas) */
  }          
p{
    color:white;
    font-size: 0.8rem; 
    padding: 16px;

    background: rgba(0, 0, 0, 0.664);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
}
